.container {
    margin-inline: 2rem;
}

.flex-container {
    display: flex;
    align-items: center;   
}

#root {    
    overflow: hidden;
}

.header {
    justify-content: space-between;
    margin: 2.375rem 0 4rem;
}

.nav-container {
    position: relative;
}

.nav-bar {
    gap: 1.5rem;
    flex-direction: column;
    list-style-type: none;
    
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 3.25rem;
    padding: 1.725rem 0;
    background-color: white;
    margin: 0;
    z-index: 100;
}

@media (max-width:799px) {
    .links {
        padding: 7rem;
        margin-inline: auto;
        text-align: center;
    }
}

.mobile-menu-hidden {
    display: none;
}
.menuHamburger, .menuClose {
    border: 0;
    background-color: inherit;
    cursor: pointer;
}

.device_img {
    max-width: inherit;
    width: 482px;
    height: 239px;
    transform: translate(5%);
}

.bg-light-gray {
    position: relative;
}

.bg-light-gray::before {
    content: "";
    position: absolute;
    width: 50%;
    right: 0;
    height: 63%;
    top: -2.375rem;
    border-bottom-left-radius: 4rem;
    background-color: var(--clr-light-blue);
    z-index: -1;
}

.paragraph {
    gap:1rem;
    margin: 5.4375rem 0 1rem;
}

.bg-black{
    background-color: var(--clr-very-dark-blue);
    color: var(--clr-light-blue);
    padding: .1875rem .625rem;
    border-radius: 2em;
    letter-spacing: 1px;
} 

.clr-gray {
    color: var(--clr-gr-blue);
    letter-spacing: 5px;
}

.lowerCase {
    text-transform: none;
    font-family: var(--ff-accent);
    font-size: var(--fz-paragraph);
    margin: 1rem 2rem 1.6875rem 0;
    color: var(--clr-dark-gr-blue);
}

.button-area {
    gap: 1.25rem;
}

.button-area p {
    letter-spacing: 2.5px;
    color: var(--clr-gr-blue);
    font-size: var(--fz-button);
}

.login {
    position: relative;
    width: 100%;
    text-align: center;
}


.login::before {
    content: "";
    position: absolute;
    height: 1px;
    background-color: var(--clr-gr-blue);
    top: -50%;
    left: 5%;
    right: 5%;
}

@media (min-width:800px) {
    .container {
        max-width: 1110px;
        width: 90%;
        margin-inline: auto;
    }
    
    .reverce-grid {
        display: grid;
        grid-template-columns: 470px 1fr;
        align-items: center;
        margin-top: 5rem;
    }

    main {
        grid-area: 1;
    }

    .nav-bar {
        gap: 2.625rem;
        flex-direction: row;
        background-color: inherit;
        padding: 0;
        transform: translate(0);
        top: 0;
    }

    .login::before {
        border-radius: 50%;
        width: 5px;
        height: 5px;
        top: 50%;
        left: -50%;
        transform: translate(-50%, -50%);
    }

    .menuHamburger,
    .menuClose {
        display: none;
    }

    .mobile-menu-hidden {
        display: flex;
    }

    .header {
        margin-inline: 0;
    }

    .device_img {
        max-width: inherit;
        width: 916px;
        height: 455px;
        transform: translate(10%);
    }

    main .container {
        margin-right: 10rem;
    }

    .paragraph {
        margin: 0;
    }

}